@model RenadWebApp.Models.DataModel.PaymentModel

@{
    ViewData["Title"] = "Edit";
}


<style>

    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
        box-shadow: none;
    }

    .control-label {
        font-weight: bold;
    }

    .card {
        margin-bottom: 15px;
        transition: 0.3s linear;
        width: 540px;
        padding: 15px;
        margin: 0 auto;
    }

        .card:hover {
            box-shadow: 3px 5px 15px #333;
        }

    .btn-primary {
        border-color: #ed8b09
    }


    .abut {
        margin: 15px 0 0;
        display: inline-block;
        text-decoration: none;
        font-weight: 900;
        color: #fff;
        padding: 5px;
        border: 1px solid #ed8b09;
        background: #ed8b09;
        width: 120px;
        text-align:center;
    }

        .abut:hover {
            color: #ed8b09;
            background: transparent;
            border-block-color: #ed8b09;
        }

    table, td {
        margin: 5px;
        padding: 4px;
    }
</style>


<div class="card" dir="rtl">
    <table>
        <tr style="text-align:center ; background-color:#333;color:#fff">
            <td>
                <h4 style="align-self:center">تعديل الدفعات</h4>
            </td>
        </tr>
    
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <tr>
                    <td>
                    <div class="form-group">
                        <label asp-for="PaymentNumber" class="control-label" style="margin-bottom:7px">رقم الدفعة</label>
                        <input asp-for="PaymentNumber" class="form-control" />
                        <span asp-validation-for="PaymentNumber" class="text-danger"></span>
                    </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                        <label asp-for="Payments" class="control-label" style="margin-bottom:7px">المبلغ المدفوع</label>
                            <input asp-for="Payments" class="form-control" />
                            <span asp-validation-for="Payments" class="text-danger"></span>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                        <label asp-for="DateForPayment" class="control-label" style="margin-bottom:7px">تاريخ الدفع</label>
                            <input asp-for="DateForPayment" class="form-control" />
                            <span asp-validation-for="DateForPayment" class="text-danger"></span>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                        <label asp-for="DueDate" class="control-label" style="margin-bottom:7px">تاريخ الإستحقاق</label>
                            <input asp-for="DueDate" class="form-control" />
                            <span asp-validation-for="DueDate" class="text-danger"></span>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                        <label asp-for="LateTime1" class="control-label" style="margin-bottom:7px">التأخير</label>
                            <input asp-for="LateTime1" class="form-control" />
                            <span asp-validation-for="LateTime1" class="text-danger"></span>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                        <label asp-for="RatioForEng" class="control-label" style="margin-bottom:7px">نسبة المهندس من الدفعة</label>
                            <input asp-for="RatioForEng" class="form-control" />
                            <span asp-validation-for="RatioForEng" class="text-danger"></span>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                        <label asp-for="DueEngRatio" class="control-label" style="margin-bottom:7px">إستحقاق المهندس</label>
                            <input asp-for="DueEngRatio" class="form-control" />
                            <span asp-validation-for="DueEngRatio" class="text-danger"></span>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                        <label asp-for="PaymentTax" class="control-label" style="margin-bottom:7px">نسبه الضريبه من الدفعة</label>
                            <input asp-for="PaymentTax" class="form-control" />
                            <span asp-validation-for="PaymentTax" class="text-danger"></span>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                        <label asp-for="DueTax" class="control-label" style="margin-bottom:7px">إستحقاق الضريبة</label>
                            <input asp-for="DueTax" class="form-control" />
                            <span asp-validation-for="DueTax" class="text-danger"></span>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                        <label asp-for="PayMentValue" class="control-label" style="margin-bottom:7px">قيمة الدفعة</label>
                            <input asp-for="PayMentValue" class="form-control" />
                            <span asp-validation-for="PayMentValue" class="text-danger"></span>
                        </div>

                    </td>
                </tr>

                <tr style="text-align:center">
                    <td>
                    <div class="form-group">
                        <input type="submit" class="abut" value="حفظ"  />
                    </div>
                    </td>
                </tr>
            
            </form>
      
 </table>
</div>
<div>
    <a asp-action="Index" asp-controller="Home" class="abut">الصفحة الرئيسية</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
