@model RenadWebApp.Models.DataModel.LoginModel

@{
    ViewData["Title"] = "Delete";
}


<style>
    .card {
        margin-bottom: 15px;
        transition: 0.3s linear;
    }

        .card:hover {
            box-shadow: 3px 5px 15px #333;
        }

    .abut {
        margin: 5px 0 0;
        display: inline-block;
        text-decoration: none;
        font-weight: 900;
        color: #fff;
        padding: 5px;
        border: 1px solid #ed8b09;
        background: #ed8b09;
        width: 120px;
        text-align:center
    }

        .abut:hover {
            color: #ed8b09;
            background: transparent;
            border-block-color: #ed8b09;
        }

    table, th, td {
        border: 1px solid black;
        text-align: center;
        width:75px
    }
</style>



<div class="card " dir="rtl">
    <div class="card-header" style="background-color: #333; color:#fff ; text-align:center">
      <h4>هل تريد حذف هذا المستخدم</h4>

    </div>
    <div class="card-body table-responsive">

        <table class="table" dir="rtl">

          
          <thead>
           

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.username)
                        </th>
                        <th>
                        @Html.DisplayNameFor(model => model.password)
                        </th>
                    </tr>
            </thead>

          <tr>
              <td>
                @Html.DisplayFor(model => model.username)
              </td>
              <td>
                @Html.DisplayFor(model => model.password)
              </td>
          </tr>
     
          <tr style="text-align:center">
          
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="userId" />
                    <th colspan="2">
                        <input type="submit" value="Delete" class="abut" /> 
                        </th>
                  
                    </form>
          
           </tr>

    </table>
   
</div>
</div>
    <a asp-action="Index" asp-controller="Login" class="abut">كل المستخدمين</a>
